---
---
@import "colours.scss";
@import "margins.scss";

@import "twemoji-awesome/twemoji-awesome.scss";

.fa-heart {
  color: $pink-heart;
}

@import "about.scss";
@import "archives.scss";
@import "footer.scss";
@import "header.scss";
@import "page-post.scss";
@import "photo.scss";


body {
  background-color: $white;
  color: $black;
  font-family: "Cousine", monospace;
  font-size: 1.2rem;
  text-transform: lowercase;
  line-height: 1.2;
}

h1 {
  font-size: 3.0rem;
}

h2 {
  color: $pink;
  font-size: 1.8rem;
  margin-bottom: $margin-lg;
  text-align: left;
}

h3 {
  color: $orange;
  font-size: 1.4rem;
  margin-bottom: $margin-xsm;
  text-align: left;
}

p {
  font-size: 1.2rem;
  margin-bottom: $margin-sm;
  text-align: justify;
}

a {
  color: $red;
  text-decoration: none;

  &:hover {
    color: $red-hover;
    cursor: pointer;
  }

  &.spotify {
    color: $green-spotify;
  }

  &.instagram {
    color: $blue-instagram;
  }

  &.twitter {
    color: $blue-twitter;
  }

  &.github {
    color: $gray-github;
  }

  &.linkedin {
    color: $blue-linkedin;
  }

  &.tomster {
    color: $red-ember;
  }
}

li {
  list-style: none;
  margin-bottom: 5px;
}

// Media Queries
// Larger than mobile
@media (min-width: 400px) {
}

// Larger than phablet (also point when grid becomes active)
@media (min-width: 550px) {
}

// Larger than tablet
@media (min-width: 750px) {
}

// Larger than desktop
@media (min-width: 1000px) {
}

// Larger than Desktop HD
@media (min-width: 1200px) {
}
