---
---
body {
  background-color: #F5F5F5;
  color: #565A5C;
  font-family: "Cousine", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #7DCFB6;
  text-decoration: none;

  &:hover {
    color: #EAD98B;
  }
}

header {
  margin-bottom: 35px;
  margin-top: 25px;
  text-align: center;

  a {
    font-size: 11px;
  }

  .header-title {
    margin-bottom: 10px;

    a {
      color: #565A5C;
      font-size: 18px;

      &:hover {
        color: #EAD98B;
      }
    }
  }
}

.page-header, .page-title, .post-header {
  text-align: center;
}

.page-content {
  margin-bottom: 35px;

  p {
    font-size: 12px;
    text-align: justify;
  }
}

.post-content {
  @extend .page-content;
  margin-bottom: 0;

  h6 {
    margin-bottom: 8px;
  }

  li {
    font-size: 12px;
    margin-bottom: 3px;
    margin-left: 15px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }

  .list-description {
    margin-bottom: 5px;
  }
}

.photo {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  img {
    height: auto;
    max-width: 100%;
  }
}

.photo-credits {
  text-align: center;

  p {
    font-size: 1.4em;
    margin-bottom: 35px;
  }
}

.share-etc {
  margin-bottom: 35px;
  text-align: center;

  .back-to-top {
    color: #7DCFB6;

    &:hover {
      color: #EAD98B;
      cursor: pointer;
    }
  }
}

footer {
  font-size: 11px;
  text-align: center;

  .footer-made-with {
    margin-bottom: 20px;

    p {
      margin-bottom: 0;
    }

    .footer-heart {
      color: #E3868F;
    }
  }

  .footer-social-icons {
    margin-bottom: 20px;

    a {
      margin: 0 10px;
    }
  }

  .footer-copyright {
    margin-bottom: 25px;

    p {
      margin-bottom: 0;
    }
  }
}


// Media Queries
// Larger than mobile
@media (min-width: 400px) {}

// Larger than phablet (also point when grid becomes active)
@media (min-width: 550px) {}

// Larger than tablet
@media (min-width: 750px) {}

// Larger than desktop
@media (min-width: 1000px) {
  .page-content, .post-content {
    padding: 0 180px;
  }
}

// Larger than Desktop HD
@media (min-width: 1200px) {}
