---
---
@import "twemoji-awesome/twemoji-awesome.scss";

.fa-heart {
  color: #E3868F;
}


@import "about.scss";
@import "archives.scss";
@import "photo.scss";


body {
  background-color: #F5F5F5;
  color: #565A5C;
  font-family: "Cousine", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #7DCFB6;
  text-decoration: none;

  &.spotify {
    color: #2EBD59;
  }

  &.instagram {
    color: #125688;
  }

  &.twitter {
    color: #55ACEE;
  }

  &.github {
    color: #333;
  }

  &.linkedin {
    color: #0077B5;
  }

  &.tomster {
    color: #F1694F;
  }

  &:hover {
    color: #EAD98B;
    cursor: pointer;
  }
}

.no-margin-bottom {
  margin-bottom: 0;
}

header {
  margin-bottom: 35px;
  margin-top: 25px;
  text-align: center;

  a {
    font-size: 11px;
  }

  .header-title {
    margin-bottom: 10px;

    a {
      color: #565A5C;
      font-size: 18px;

      &:hover {
        color: #EAD98B;
      }
    }
  }
}

.page-header, .page-title, .post-header {
  text-align: center;
}

.page-content {
  margin-bottom: 35px;

  p {
    font-size: 12px;
    text-align: justify;
  }
}

.post-content {
  @extend .page-content;
  margin-bottom: 0;

  h6 {
    margin-bottom: 8px;
  }

  li {
    font-size: 12px;
    margin-bottom: 3px;
    margin-left: 15px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }

  .list-description {
    margin-bottom: 5px;
  }
}

.share-etc {
  margin-bottom: 35px;
  text-align: center;

  .twitter {
    margin-left: 60px;
  }

  .back-to-top {
    margin-right: 60px;
  }
}

footer {
  font-size: 11px;
  text-align: center;

  .footer-made-with {
    margin-bottom: 20px;

    p {
      margin-bottom: 0;
    }
  }

  .footer-social-icons {
    margin-bottom: 20px;

    a {
      margin: 0 10px;
    }
  }

  .footer-copyright {
    margin-bottom: 25px;

    p {
      margin-bottom: 0;
    }
  }
}


// Media Queries
// Larger than mobile
@media (min-width: 400px) {
}

// Larger than phablet (also point when grid becomes active)
@media (min-width: 550px) {
}

// Larger than tablet
@media (min-width: 750px) {
  .header-links {
    padding: 0 90px;
  }
}

// Larger than desktop
@media (min-width: 1000px) {
  .header-links {
    padding: 0 190px;
  }

  .page-content, .post-content {
    padding: 0 180px;
  }
}

// Larger than Desktop HD
@media (min-width: 1200px) {
}
