---
---
body {
  background-color: #F5F5F5;
  color: #565A5C;
  font-family: "Cousine", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #7DCFB6;
  text-decoration: none;

  &:hover {
    color: #EAD98B;
  }
}


header {
  margin-bottom: 35px;
  margin-top: 25px;
  text-align: center;

  a {
    font-size: 11px;
  }

  .header-title {
    margin-bottom: 10px;

    a {
      color: #565A5C;
      font-size: 18px;
    }
  }
}

.page-title, .post-header {
  text-align: center;
}

.page-content {
  margin-bottom: 35px;

  p {
    font-size: 12px;
    text-align: justify;
  }
}

.post-content {
  @extend .page-content;
  margin-bottom: 0;

  h6 {
    margin-bottom: 8px;
  }
}

.share-twitter {
  @extend .page-content;

  p {
    margin-bottom: 0;
  }
}

footer {
  font-size: 11px;
  text-align: center;

  .footer-made-with {
    margin-bottom: 20px;

    p {
      margin-bottom: 0;
    }

    .heart {
      color: #E3868F;
    }
  }

  .footer-social-icons {
    margin-bottom: 20px;

    a {
      margin: 0 10px;
    }
  }

  .footer-copyright {
    margin-bottom: 25px;

    p {
      margin-bottom: 0;
    }
  }
}


// Media Queries
// Larger than mobile
@media (min-width: 400px) {}

// Larger than phablet (also point when grid becomes active)
@media (min-width: 550px) {}

// Larger than tablet
@media (min-width: 750px) {}

// Larger than desktop
@media (min-width: 1000px) {
  .page-content, .post-content, .share-twitter {
    padding: 0 150px;
  }
}

// Larger than Desktop HD
@media (min-width: 1200px) {}
