---
---
body {
  background-color: #F5F5F5;
  color: #565A5C;
  font-family: Courier New, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #7DCFB6;
  text-decoration: none;

  &:hover {
    color: #EAD98B;
  }
}

header {
  margin-top: 25px;
  text-align: center;

  a {
    color: #565A5C;
    font-size: 18px;
  }
}

footer {
  bottom: 0;
  font-size: 11px;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;

  .footer-made-with {
    margin-bottom: 20px;

    p {
      margin-bottom: 0;
    }

    .heart {
      color: #E3868F;
    }
  }

  .footer-social-icons {
    margin-bottom: 20px;

    a {
      margin: 0 10px;
    }
  }

  .footer-copyright {
    margin-bottom: 25px;

    p {
      margin-bottom: 0;
    }
  }
}
