<header>
  <div class="container">
    <div class="row header-title">
      <div class="twelve columns">
        <a href="/">{{ site.title }}</a>
      </div>
    </div>

    <div class="row header-links">
      <div class="twelve columns">
        {% for post in site.posts limit:1 %}
          <a href="{{ post.url }}">Thing 1</a>
        {% endfor %}
        <span> | </span>
        <a href="/things">Things 10</a>
        <span> | </span>
        <a href="/about">Thing Other</a>
      </div>
    </div>
  </div>
</header>
