$black: #58646C;
$blue-instagram: #125688;
$blue-linkedin: #0077B5;
$blue-twitter: #55ACEE;
$gray-github: #333333;
$green-spotify: #2EBD59;
$orange: #CE9B67;
$pink: #CD889F;
$pink-heart: #CF869F;
$red: #954F4D;
$red-ember: #F1694F;
$red-hover: #F79475;
$violet: #9368A8;
$white: #FFFFFF;
