footer {
  margin-bottom: $margin-lg;
  text-align: center;

  p {
    margin-bottom: 0;
    text-align: center;
  }

  .footer-made-with,
  .footer-social-icons {
    margin-bottom: $margin-md;
  }

  .footer-social-icons {
    a {
      margin: 0 $margin-xsm;
    }
  }
}
