---
layout: default
---
<div class="container">
  <div class="row post-header">
    <div class="twelve columns">
      <h5>{{ page.title }}</h5>
      <h6>{{ page.date | date: "%-d %B %Y" }}</h6>
    </div>
  </div>

  <div class="row post-content">
    <div class="twelve columns">
      {{ content }}
    </div>
  </div>

  <div class="row share-etc">
    <div class="twelve columns">
      <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=eubenesa" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
      <i class="fa fa-arrow-circle-up fa-lg back-to-top"></i>
    </div>
  </div>
</div>

<script src="/static/elevator.js/elevator.min.js" type="text/javascript" charset="utf-8" async defer></script>
<script>
  // Elevator.js
  window.onload = function() {
    var elevator = new Elevator({
      element: document.querySelector('.back-to-top'),
      mainAudio: '/static/elevator.js/demo/music/elevator.mp3',
      endAudio: '/static/elevator.js/demo/music/ding.mp3'
    });
  };
</script>
